.manage-doctor-container {
    padding: 5px;

    .manage-doctor-title {
        text-align: center;
        margin: 15x 0;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .more-info {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;

        .content-left {
            width: 40%;
        }

        .content-right {
            width: 60%;
        }
    }

    .more-info-extra {
        margin-bottom: 15px;
    }

    .save-content-doctor {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        background-color: orange;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    .update-content-doctor {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        background-color: rgb(8, 0, 254);
        cursor: pointer;
        color: white;

        &:hover {
            opacity: 0.9;
        }
    }
}