.doctor-detail-container {
    // height: 500px;
    // border: 1px solid red;
    // margin: 0 100px;

    .intro-doctor {
        display: flex;
        margin: 0 100px;
        // height: 100px;

        .content-left {
            // border: 1px solid green;
            width: 20%;
            margin: 10px 20px;


            .image {
                background: center center no-repeat;
                height: 120px;
                border-radius: 50%;
                width: 120px;
                margin: 0 auto;
                background-size: cover;
            }
        }

        .content-right {
            // border: 1px solid grey;
            width: 80%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up {
                font-size: 20px;
                font-weight: 600;
                padding-top: 15px;
            }

            .down {
                text-align: justify;
                padding-top: 10px;

                .like-share-plugin {
                    margin: 10px 0 20px 0;
                }
            }
        }
    }

    .schedule-doctor{
        margin: 0 100px;
        display: flex;
        padding: 10px 0;
        // border: 1px solid red;

        .content-left {
            width: 50%;
        }

        .content-right {
            width: 50%;
        }

    }

    .detail-info-doctor {
        padding: 30px 100px;
        background: #eee;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;


        h1,h2,h3 {
            font-size: 17px;
        }
        img {
            max-width: 100%;
            margin: 0 auto;
            display: block;
        }
    }

    .comment-doctor {
        padding: 10px 100px;
    }






}